{% extends "users/base.html" %}

{% block title %}Edit Article{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1 class="mb-4">Edit Article</h1>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label for="title">Title:</label>
            <input type="text" class="form-control" id="title" name="title" value="{{ article.title }}" required>
        </div>
        <div class="form-group">
            <label for="subtitle">Subtitle:</label>
            <input type="text" class="form-control" id="subtitle" name="subtitle" value="{{ article.subtitle }}" required>
        </div>

        <div class="form-group">
            <label for="content">Content:</label>
            <textarea class="form-control" id="content" name="content" rows="6" required>{{ article.content }}</textarea>
        </div>

      <div class="form-group">
        <label for="author_name">Author:</label>
        <input type="text" class="form-control" id="author_name" name="author_name" value="{{ article.author_name }}" required>
    </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="text" class="form-control" id="email" name="email" value="{{ article.email }}" required>
        </div>

        <div class="form-group">
            <label for="image">Image:</label>
            <input type="file" class="form-control-file" id="image" name="image">
            {% if article.image %}
                <img src="{{ article.image.url }}" alt="Article Image" class="img-fluid mt-2" style="max-height: 200px;">
            {% endif %}
        </div>

        <select name="tags" id="tags" multiple>
        {% for tag in form.tags.field.queryset %}
        <option value="{{ tag.id }}" {% if tag in article.tags.all %}selected{% endif %}>{{ tag }}</option>
        {% endfor %}
        </select>

        <select name="category" id="category">
        {% for category in form.category.field.queryset %}
        <option value="{{ category.id }}" {% if category == article.category %}selected{% endif %}>{{ category }}</option>
        {% endfor %}
        </select>

        <div class="form-group">
            <label for="publish_date">Publish Date:</label>
            <input type="date" class="form-control" id="publish_date" name="publish_date" value="{{ article.publish_date|date:'Y-m-d' }}" required>
        </div>

        <button type="submit" class="btn btn-primary">Save Changes</button>
        <a href="{% url 'journalist:journalist_dashboard' %}" class="btn btn-secondary mt-2">Back to Articles</a>
    </form>
</div>
{% endblock %}
